@page
   {margin: .25in;}
@media print
   {body
       {margin: 0;}
    #license-footer
       {position: absolute;
        bottom: .25in;
        width: 10in;}
    .outline-text-2 > *:last-child
       {margin-bottom: 0 !important;}}

@media screen
   {.outline-2
      {width: 10in;
       height: 7.5in;
       border: thin solid gray;
       margin-top: 2em;}
    h2
      {margin-top: 0;}
    .outline-text-2, h2
      {margin: .25in;}}

body
   {font-family: Arial,sans-serif;
    font-size: 24pt;}
math
   {font-family: Arial,sans-serif;}

em
   {font-style: inherit;
    font-weight: bold;}

h1
   {font-size: 150%;
    color: #008;
    margin-top: 1in;}

h2
   {page-break-before: always;
    margin-bottom: 0;}

.outline-text-2 > ul > li + li
   {margin-top: .5em;}

a[rel = license]
   {color: inherit;
    text-decoration: inherit;}
