@page
   {margin: 1in;}
@media print
   {body
       {margin: 0;}}

/* Make table captions as wide as the body text. */
caption
   {width: 6.5in;} /* 8.5in - 2 * 1in */
table
   {overflow: visible;}

body
   {font-family: "Times New Roman";
    font-size: 12pt;}
code, .url, .doi
   {font-family: "DejaVu Sans Mono";
    font-size: 10pt;}

.wabstract
   {margin: 0;
    border: none;
    background: none;
    padding: 0;
    page-break-after: always;
    margin-bottom: 8em;}
.wabstract p
   {text-indent: 0;}

.wabstract + div > h2
/* Don't boldface the introduction header. */
   {font-weight: normal;}

h1, h2, h3, h4, h5, h6
   {font-size: 100%;}
h1, h2
   {text-align: center;}
h2, h3, h4, h5
   {font-weight: bold;}
p, h4, h5, h6, .footdef
   {text-indent: .5in;}
h4:after, h5:after, h6:after
   {content: ".";}
h5, h6
   {font-style: italic;}
h6
   {font-weight: normal;}

p, ul, ol
   {margin-top: 0em;
    margin-bottom: 0em;}
ul, ol
   {margin-left: 1em;}
p, li, h1, h2, h3, h4, h5, h6
   {line-height: 200%;}

a:link, a:visited
   {color: black !important;
    text-decoration: none;}

code
   {background: none;
    padding: 0;
    border: none;}

blockquote > p:first-child
   {text-indent: 0;}

#bibliography, #footnotes, #tables-header, #figure-captions-header
   {page-break-before: always;
    margin-top: 8em;}
#bibliography, .footnotes, #tables-header, #figure-captions-header
   {font-weight: normal;}
/*#footnotes .footnum
   {vertical-align: baseline;
    font-size: 100%;}
#footnotes .footnum:after
   {content: ".";}*/

div.footdef
   {margin-top: 0;}

table, p.moved-figcaption
   {page-break-after: always;
    margin-bottom: 8em;}
caption
   {text-align: left;
    line-height: 200%;}
caption > .table-number
   {font-style: normal;}
th
   {font-weight: normal;
    border-bottom: thin solid black;}
table
   {border-top: thin solid black;
    border-bottom: thin solid black;}

p.moved-figcaption > .figure-number
   {font-style: italic;}
